# set up omz
if [[ -e "${HOME}/.oh-my-zsh" ]]; then
    export HIST_STAMPS="yyyy-mm-dd"
    export ZSH="${HOME}/.oh-my-zsh"

    if [[ -e "${ZSH}/custom/themes/epb" ]]; then
        export ZSH_THEME="epb/epb"
    fi

    plugins=(fzf git tmux rust zsh-autosuggestions zsh-syntax-highlighting)

    source $ZSH/oh-my-zsh.sh
fi


# TODO: this is currently broken to some degree, it only prevents recording commands that do not
#       exist, i also cannot reprodice what the weird argument to whence even does
# do not record failed commands, this avoids suggesting them
# zshaddhistory() {
#     whence "${${(z)1}[1]}" >| /dev/null || return 1
# }


# additional paths
if [[ -e "${HOME}/.cargo/bin" && ! "$PATH" == *"${HOME}/.cargo/bin"* ]]; then
    export PATH="${HOME}/.cargo/bin:${PATH}"
fi

if [[ -e "${HOME}/.local/bin" && ! "$PATH" == *"${HOME}/.local/bin"* ]]; then
    export PATH="${HOME}7.local/bin:${PATH}"
fi


# program exports
if [[ -e $(which helix) ]]; then
    export EDITOR=$(which helix)
else if [[ -e $(which nvim) ]]
    export EDITOR=$(which nvim)
fi

if [[ -e $(which firefox) ]]; then
    export BROWSER=$(which firefox)
fi

if [[ -e $(which bat) ]]; then
    export MANPAGER="sh -c 'col -bx | $(which bat) --style=plain -l man -p'"
fi

if [[ -e $(which delta) ]]; then
    export GIT_PAGER=$(which delta)
fi


# fix valgrind debug symbols
export DEBUGINFOD_URLS="https://debuginfod.archlinux.org"

{{ if eq .chezmoi.hostname "hsh" -}}
# using export here fails for whatever reason
MEDIA="${HOME}/Data/media"
{{- end }}

# setup gpg
if [[ -e $(which gpgconf) ]]; then
    export GPG_TTY=$(tty)
    gpgconf --launch gpg-agent
fi


# aliases
alias gn='shutdown now'
alias brb='reboot'
alias sudo='sudo '
alias vpn='protonvpn-cli'
alias sed='sed -r'
alias hx='helix'
alias dots='chezmoi'
alias ip='ip -c -p'

## additional git aliases
alias gstn='git stash push --staged'

## alias overrides
if [[ -e $(which exa) ]]; then
    alias ls='exa --icons'
    alias ll='exa --icons -l --git'
    alias la='exa --icons -la --git --group'
    alias lt='exa --icons --tree --level'
fi

if [[ -e $(which garbage) ]]; then
    alias rm='garbage put'
    alias trash='garbage'
fi
