Host git.ai.fh-erfurt.de
    HostName git.ai.fh-erfurt.de
    User git
    IdentityFile ~/.ssh/gitlab_fh
    IdentitiesOnly yes

Host gitlab.com
    HostName gitlab.com
    User git
    IdentityFile ~/.ssh/gitlab
    IdentitiesOnly yes

{{ if eq .chezmoi.hostname "hsh" -}}
Host github.com-old
    HostName github.com
    User git
    IdentityFile ~/.ssh/github_old
    IdentitiesOnly yes
{{- end }}

Host github.com
    HostName github.com
    User git
    IdentityFile ~/.ssh/github
    IdentitiesOnly yes

{{ if eq .chezmoi.hostname "epb-thinkpad" -}}
Host fs fs.bj-ig.de
    HostName fs.bj-ig.de
    User erik
    IdentityFile ~/.ssh/fs_bj_ig
    IdentitiesOnly yes
    HostKeyAlgorithms +ssh-rsa
    PubKeyAcceptedAlgorithms +ssh-rsa
{{- end }}

{{ if eq .chezmoi.hostname "hsh" -}}
Host 192.168.2.101
    HostName 192.168.2.101
    User pi
    IdentityFile ~/.ssh/pi
    IdentitiesOnly yes
{{- end }}
