#
# theming
#

[colors]
include-file = colors/gruvbox-dark-hard.ini

[colors]
background = ${colors/gruvbox.black}
background-alt = ${colors/gruvbox.black-alt}

foreground = ${colors/gruvbox.white}
foreground-alt = ${colors/gruvbox.white-alt}

primary = ${colors/gruvbox.yellow}
secondary = ${colors/gruvbox.blue}

alert = ${colors/gruvbox.red}
disabled = ${colors/gruvbox.black-alt}


#
# bars
#

[bar-base]
width = 100%
height = 24pt

background = ${colors.background}
foreground = ${colors.foreground}

line-size = 3pt

border-size = 4pt
border-color = #00000000

padding-left = 0
padding-right = 1

module-margin = 1

separator = |
separator-foreground = ${colors.disabled}

font-0 = FiraCode Nerd Font Mono;2

# icons
font-1 = FiraCode Nerd Font Mono:size=16;3

cursor-click = pointer
cursor-scroll = ns-resize

enable-ipc = true

wm-restack = bspwm


[bar/top-primary]
inherit = bar-base
{{ if eq .chezmoi.hostname "hsh" -}}
monitor = DP-2
{{- else -}}
monitor = eDP-1
{{- end }}

modules-left = arch-button bspwm-workspaces xwindow
modules-center = date
{{ if eq .chezmoi.hostname "hsh" -}}
modules-right = redshift redshift-auto filesystem audio-devices audio-devices-auto pulseaudio memory cpu vpn vpn-auto network
{{- else -}}
modules-right = filesystem pulseaudio memory cpu battery network
{{- end }}


[bar/top-secondary]
inherit = bar-base
{{ if eq .chezmoi.hostname "hsh" -}}
monitor = HDMI-0
{{- else -}}
monitor = HDMI-1
{{- end }}

modules-left = arch-button bspwm-workspaces xwindow
modules-right = date


#
# modules
#

[module/arch-button]
type = custom/text

content = %{T2}%{F#FABD2F} %{T-}%{F-}

click-left = rofi -show


[module/bspwm-workspaces]
type = internal/bspwm
pin-workspaces = true
fuzzy-match = true

ws-icon-0 = 0;0
ws-icon-1 = 1;1
ws-icon-2 = 2;2
ws-icon-3 = 3;3
ws-icon-4 = 4;4
ws-icon-5 = 5;5
ws-icon-6 = 6;6
ws-icon-7 = 7;7
ws-icon-8 = 8;8
ws-icon-9 = 9;9

label-focused = %icon%
label-focused-foreground = ${colors.primary}
label-focused-background = ${colors.background-alt}
label-focused-underline= ${colors.primary}
label-focused-padding = 1

label-occupied = %icon%
label-occupied-padding = 1

label-urgent = %idex%
label-urgent-background = ${colors.alert}
label-urgent-padding = 1

label-empty = %icon%
label-empty-foreground = ${colors.disabled}
label-empty-padding = 1


[module/xwindow]
type = internal/xwindow
{{ if eq .chezmoi.hostname "hsh" -}}
label = %title:0:60:...%
{{- else -}}
label = %title:0:35:...%
{{- end }}


{{ if eq .chezmoi.hostname "hsh" -}}
[module/redshift]
type = custom/ipc
initial = 1

hook-0 = ~/.config/polybar/redshift.sh status

format = %{T2}<output>%{T-}


# this could be done with hooks instead, avoiding constant polling and parsing
[module/redshift-auto]
type = custom/script
interval = 5

exec = polybar-msg action '#status.hook.0'
label =
{{- end }}


[module/filesystem]
type = internal/fs
interval = 25

mount-0 = /

label-mounted = %{F#FABD2F}%{F-} %percentage_used%%

label-unmounted = %mountpoint% not mounted
label-unmounted-foreground = ${colors.disabled}

{{ if eq .chezmoi.hostname "hsh" -}}
# see: https://github.com/polybar/polybar/issues/786
[module/audio-devices]
type = custom/ipc
initial = 1

hook-0 = ~/.config/polybar/pw-dev.sh status
hook-1 = ~/.config/polybar/pw-dev.sh toggle

click-left = polybar-msg action '#audio-devices.hook.1'

format = %{T2}<output>%{T-}


# TODO: remove this if possible
# polybar starts faster than the sound stuff so this will correct the initial value if it's
# incorrect and regularly correct the values in case something went out of sync by manual setting
[module/audio-devices-auto]
type = custom/script
interval = 5

exec = polybar-msg action '#audio-devices.hook.0'
label =
{{- end }}

[module/pulseaudio]
type = internal/pulseaudio

format-volume = %{F#FABD2F}%{T2}<ramp-volume>%{T-}%{F-} <label-volume>

label-volume = %percentage%%

label-muted = %{T2}%{T-} 00%
label-muted-foreground = ${colors.disabled}

ramp-volume-0 = 
ramp-volume-1 = 
ramp-volume-2 = 


[module/xkeyboard]
type = internal/xkeyboard
blacklist-0 = caps lock
blacklist-1 = scroll lock
blacklist-2 = num lock

label-layout = %layout%
label-layout-foreground = ${colors.primary}

# indicators disabled
# label-indicator-padding = 2
# label-indicator-margin = 1
# label-indicator-foreground = ${colors.background}
# label-indicator-background = ${colors.secondary}


[module/memory]
type = internal/memory
interval = 2
format-prefix = " "
format-prefix-foreground = ${colors.primary}
label = %percentage_used:2%%


[module/cpu]
type = internal/cpu
interval = 2
format-prefix = " "
format-prefix-foreground = ${colors.primary}
label = %percentage:2%%


[module/battery]
type = internal/battery
# battery = BAT0
# adapter = ADP1

full-at = 99
low-at = 5

label-full = full
label-low = LOW

format-discharging = "%{T2}<animation-discharging>%{T-}%{F-} <label-discharging>"
format-charging = "%{T2}<animation-charging>%{T-}%{F-} <label-charging>"
format-full = "%{T2}%{T-}%{F-} <label-full>"
format-low = "%{T2}%{T-} <label-low>"

animation-charging-0 = 
animation-charging-1 = 
animation-charging-2 = 
animation-charging-3 = 
animation-charging-4 = 
animation-charging-5 = 
animation-charging-6 = 
animation-charging-framerate = 500

animation-discharging-0 = 
animation-discharging-1 = 
animation-discharging-2 = 
animation-discharging-3 = 
animation-discharging-4 = 
animation-discharging-5 = 
animation-discharging-6 = 
animation-discharging-framerate = 500

format-discharging-foreground = ${colors.primary}
format-charging-foreground = ${colors.primary}
format-full-foreground = ${colors.primary}
format-low-background = ${colors.alert}
format-low-foreground = ${colors.background}


{{ if eq .chezmoi.hostname "hsh" -}}
[module/vpn]
type = custom/ipc
initial = 1

hook-0 = ~/.config/polybar/vpn.sh status
hook-1 = ~/.config/polybar/vpn.sh toggle

click-left = polybar-msg action '#vpn.hook.1'

format = %{T2}<output>%{T-}

[module/vpn-auto]
type = custom/script
interval = 5

exec = polybar-msg action '#vpn.hook.0'
label =
{{- end }}


[module/network]
type = internal/network
interval = 5
{{ if eq .chezmoi.hostname "hsh" -}}
interface-type = wired
{{- else -}}
interface-type = wireless
{{- end }}

# don't know how I can set this in a less manual way
format-connected = <label-connected>
label-connected = %{F#FABD2F}%{T2}%{T-}%{F-} %upspeed:8% %{F#FABD2F}%{T2}%{T-}%{F-} %downspeed:8%
format-disconnected = <label-disconnected>
label-disconnected = %{F#FABD2F}%ifname%%{F#707880} disconnected


[module/date]
type = internal/date
interval = 1

date = %Y-%m-%d %H:%M:%S

label = %date%
label-foreground = ${colors.primary}


#
# settings
#

[settings]
screenchange-reload = true
pseudo-transparency = true

