# make sxhkd reload its configuration files
super + Escape
    pkill -USR1 -x sxhkd


# ================
# program shotkyes
# ================

# run programs
super + Return
    rofi -show drun

# common programs
super + {ctrl + Return,w}
    {alacritty,firefox}

# rofi show active nodes
super + Tab
    rofi -show window

# start region screenshot
ctrl + Print
    flameshot gui

# close and kill
super + q
    bspc node -c


# ================
# audio
# ================

# volume
XF86Audio{Mute,RaiseVolume,LowerVolume}
    ~/.scripts/pw-setvol.sh {mute toggle,incr 0.05,decr 0.05}

super + XF86Audio{Mute,RaiseVolume,LowerVolume}
    ~/.scripts/spotify.sh {PlayPause,Next,Previous}

super + shift + XF86AudioMute
    ~/.scripts/pw-setdev.sh toggle && polybar-msg action '#audio-devices.hook.0'


# ================
# bspwm hotkeys
# ================

# quit/restart bspwm
super + alt + {q,r}
    bspc {quit,wm -r}

#
# focus
#

# cycle through nodes
alt + Tab
    bspc node -f next.local

# focus node
super + {Left,Down,Up,Right}
    bspc node -f {west,south,north,east}.local

{{ if eq .chezmoi.hostname "hsh" -}}
# focus the next/prev desktop
super + bracket{left,right}
    bspc desktop -f {prev,next}.local

# focus next/prev monitor
super + {comma,period}
    bspc monitor -f {prev,next}
{{- else -}}
# focus the next/prev desktop
super + {comma,period}
    bspc desktop -f {prev,next}.local

# focus next/prev monitor
super + {k,l}
    bspc monitor -f {prev,next}
{{- end }}

#
# move/swap
#

# rotate notes
super + shift + r
    bspc node --rotate 90

# swap nodes
super + shift + {Left,Down,Up,Right}
    bspc node -s {west,south,north,east}.local
 
{{ if eq .chezmoi.hostname "hsh" -}}
# move node to desktop
super + shift + bracket{left,right}
    bspc node --to-desktop {prev,next}.local --follow

# move node to monitor
super + shift + {comma,period}
    bspc node --to-monitor {prev,next} --follow
{{- else -}}
# move node to desktop
super + shift + {comma,period}
    bspc node --to-desktop {prev,next}.local --follow

# move node to monitor
super + shift + {k,l}
    bspc node --to-monitor {prev,next} --follow
{{- end }}

#
# non tiling specific
#

# swap floating/tiling
super + shift + @space
    bspc node -t "~"{floating,tiled}

# swap fullscreen/tiling
super + @space
    bspc node -t "~"{fullscreen,tiled}

# move floating window
super + alt + {Left,Down,Up,Right}
    bspc node -v {-20 0,0 20,0 -20,20 0}

# TODO: does not work for floating but who cares?
# smart resize
super + ctrl + alt + {Left,Down,Up,Right}
  n=10; \
  { d1=left;   d2=right;  dx=-$n; dy=0;   \
  , d1=bottom; d2=top;    dx=0;   dy=$n;  \
  , d1=top;    d2=bottom; dx=0;   dy=-$n; \
  , d1=right;  d2=left;   dx=$n;  dy=0;   \
  } \
  bspc node --resize $d1 $dx $dy || bspc node --resize $d2 $dx $dy
