font:
{{- if eq .chezmoi.hostname "hsh" }}
  size: 12
{{- else }}
  size: 8
{{- end }}

  normal:
    family: "Fira Mono"
    style: "Retina"

  bold:
    family: "Fira Mono"
    style: "Bold"

  italic:
    family: "Fira Mono"
    style: "Italic"

  offset:
    x: 0
    y: 0

  glyph_offset:
    x: 0
    y: 0

